@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    @apply text-white
}

h1{
    @apply text-6xl font-bold
}
h2{
    @apply text-4xl font-bold
}
h3{
    @apply text-2xl
}

a{
    @apply block
}

.btn{
    @apply rounded-full
}

/* ===== Scrollbar CSS ===== */
/* Firefox */
* {
    scrollbar-width: auto;
    scrollbar-color: #ff8484 #070719;
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
    width: 16px;
}

*::-webkit-scrollbar-track {
    background: #070719;
}

*::-webkit-scrollbar-thumb {
    background-color: #ff8484;
    border-radius: 10px;
    border: 3px solid #070719;
}

@import "resources/sass/nav";
@import "resources/sass/hero";
@import "resources/sass/hexagon";
@import "resources/sass/contact-form";
@import "resources/sass/actualite";
@import "resources/sass/aboutus";
