@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    @apply text-white
}

h1{
    @apply text-6xl font-bold
}
h2{
    @apply text-4xl
}
h3{
    @apply text-2xl
}

a{
    @apply block
}

.btn{
    @apply rounded-full
}

@import "resources/sass/nav";
@import "resources/sass/hero";
@import "resources/sass/hexagon";
