.hero{
    @apply gap-6 items-center h-full
}

.heroText{
    @apply shrink-[2] self-center flex flex-col gap-4 p-3;
}

.heroMenu {
    @apply w-full h-full gap-6 items-center;

    .hero-items-Menu{
        @apply ease-in-out duration-700 bg-no-repeat bg-center bg-cover
        backdrop-brightness-200
        mx-8
        w-full h-full
        rounded-md border-4 border-white;

        &:hover{
            .filterShadow{
                @apply opacity-80
            }
        }

        .hero-items{
            @apply ease-in-out duration-700 flex content-start items-center gap-6 pl-32;

            img{
                @apply h-32 my-8
            }

            h3{
                @apply text-2xl uppercase
            }

            p, a {
                display: none;
            }
        }
    }
}

.filterShadow{
    z-index: -1;
    @apply absolute w-full h-full
    bg-night-blue opacity-50
    rounded-md;
}

/*Tablette*/
@media (min-width: 43rem) {
    .hero {
        @apply gap-12;

        .hero-items-Menu {
            @apply m-0
            w-full h-4/6;

            .hero-items {
                @apply h-full flex-col justify-center p-4;
            }
        }
    }
}

/*Desktop*/
@media (min-width: 62rem){
    .hero{
        @apply h-screen gap-16
    }

    .heroMenu{

        .hero-items-Menu{
            &:hover { @apply h-[87%];}

            .hero-items{
                @apply h-full flex-col justify-center p-4;
                img {
                    @apply w-1/2 my-0;
                }

                &:hover{
                    img{
                        @apply w-1/3;
                    }

                    a, p {
                        display: inline-flex;
                    }

                    p{
                        @apply text-center text-sm;
                    }

                    .filterShadow{
                        @apply opacity-80;
                    }
                }
            }
        }
    }
}
